<h2>Edit Account </h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :firstname, autocomplete: "off"%>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :lastname, autocomplete: "off"%>
  </div>

  <div class="field">
    <%= f.label :prefered_name %><br />
    <%= f.text_field :preferedname, autocomplete: "off"%>
  </div>

  <div class="field">
    <%= f.label :gpa, "GPA" %><br />
    <%= f.number_field :gpa, autocomplete: "off"%>
  </div>

  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year, autocomplete: "off"%>
  </div>

  <div class="field">
    <%= f.label :major %><br />
    <%= f.text_field :major, autocomplete: "off"%>
  </div>

  <div class="field">
    <%= f.label :minor %><br />
    <%= f.text_field :minor, autocomplete: "off"%>
  </div>

  <div class="field">
    <%= f.label :department %><br />
    <%= f.text_field :department, autocomplete: "off"%>
  </div>

  <div class="field">
    <%= f.label :courses %><br />
<<<<<<< HEAD
    <%= f.select :courses, [['CS61A','cs61a'],['CS61B','cs61b'],['CS61C','cs61c']] %>
=======
    <%= f.text_field :courses, autocomplete: "off"%>
>>>>>>> 105df11354a336381c60c1aeb0295bcf52919d46
  </div>

  <div class="field">
    <%= f.label :compensation %><br />
    <%= f.number_field :compensation, autocomplete: "off"%>
  </div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
