
<%= render "layouts/nav_login" %>

<div class="row fullWidth left">
  <div class="small-5 large-4 small-centered large-uncentered large-offset-2 columns page_title">
    Log In
  </div>

  <div class="small-12 large-6 columns signup-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
      <%- flash.each do |name, msg| -%>
        <span class="error-message"> <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %> </span>
      <%- end -%>  

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "textbox" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "textbox" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
  
</div>