Welcome <%= current_user.firstname %> <%= current_user.lastname %>
</br>

<h1>Applications: </h1></br>
<%= render 'users/applications' %>
</br>

<h1>Projects you run: </h1></br>
<%= render 'users/projects' %>


<%= link_to 'home', root_path%>
