<h1>Your Profile </h1>

<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :first_name, 'First Name' %><br />
    <%= f.text_field :firstname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name, 'Last Name' %><br />
    <%= f.text_field :lastname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :year, 'Class/Year' %><br />
    <%= f.text_field :year, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :graduation_year, 'Graduation Year' %><br />
    <%= f.number_field :graduation_year, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :major %><br />
    <%= f.text_field :major, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :minor %><br />
    <%= f.text_field :minor, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :gpa, 'GPA' %><br />
    <%= f.number_field :gpa, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :phone_number, 'Phone Number' %><br />
    <%= f.telephone_field :phone_number, autofocus: true %>
  </div>


  <div class="actions">
    <%= f.submit "Save Changes" %>
  </div>

   <div>
    <%= link_to 'Dashboard', user_dashboard_path(current_user)%>
  </div>
<% end %>

