
<% if current_user.present? %>
	<%= render "layouts/nav" %>
<% else %>
	<%= render "layouts/nav_login" %>
<% end %>


<div class="small-5 large-10 small-centered large-uncentered large-offset-2 columns page_title">
	Project Listings
</div>



<div class="small-6 large-7 large-offset-2 columns">
	<dl class="sub-nav">
	  <dd class="active"><a href="#">All</a></dd>
	</dl>
</div>

<div class="small-12 large-7 large-offset-2 columns h_line">
		<hr>
</div>






<div class="small-12 large-7 large-offset-2 columns">
	<% projects = Project.all %>
	<% projects.each do |project| %>
		<%= link_to project do %>
			<div class="listing">
				<div id="rectangle"></div>
				<span class="large-12 columns listing-title"><%= project.title %></span>
				<span class="large-12 columns listing-subtitle"><%= project.description %></span>
				<hr>
				<span class="looking-for">Looking For:</span>
			</div>
		<% end %>
	<% end %>
</div>


<div class="large-3 show-for-large-up columns">
	<div class="large-12 columns text-center">
		<span class='filter_button'>Filter by:</span>
	</div>
	<div class="large-12 columns field">
	text
	</div>
</div>
